@{
    ViewBag.Title = "Contact";
}


<address>
    KP 6<br />
    Phường Linh Trung, Quận Thủ Đức, Tp Hồ Chí Minh<br />
    <abbr title="Phone">P:</abbr>
    0909090090
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@gmail.com</a>
</address>